@font-face {
    font-family: 'Mona Sans';
    font-weight: 200 900;
    font-stretch: 75% 125%;
    src:
    url(../font/MonaSans/Mona-Sans.woff2) format('woff2 supports variations'),
      url(../font/MonaSans/Mona-Sans.woff2) format('woff2-variations');
  }



body {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    -webkit-font-feature-settings: 'ss01';
    font-feature-settings: 'ss01';
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    background: #fff;
    color: #0d0c22;
    overflow-y: scroll;
}



.g-btn{
    box-sizing: border-box;
    width:min-content;
    border: 1.5px solid #0d0c22;
    border-radius: 9999999px;
    background-color: #0d0c22;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: 0.15s cubic-bezier(0.32, 0, 0.59, 0.03);
}
.g-btn:hover{
    background-color: #565564;
}

.page-header{
    width: 100%;
    background-color:#f8f7f4;
}
.header-wrapper{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20px 90px 1fr;
    grid-template-rows: 100px;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    transition: background-color 0.25s ease-out;
}
@media (min-width: 1400px){
    .header-wrapper {
        grid-template-columns: 1fr 96px 1fr;
        gap: 24px;
    }
}
.header-nav{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    --nav-v2-main-gap: 32px;
}
.header-nav-item{
    padding: 0 calc(var(--nav-v2-main-gap) / 2);
    color: #0d0c22;
    line-height: 1;
    transition: color 200ms ease;
}
.header-nav-item:first-child{
    padding-left: 0;
}
.header-info{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.4s opacity ease-in-out 0.1s;
}
.header-info-login{
    display: flex;
    align-items: center;
    height: 40px;
    color: #0d0c22;
    transition: color 200ms ease;
}
.header-info-login::after{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    margin-left: 22px;
    border-radius: 50%;
    background-color: #0d0c22;
}
.header-info-signup{
    margin-left: 24px;
    height:48px;
    padding: 0 24px;
    line-height: 48px;
}
.header-nav-item:hover, .header-info-login:hover{
    color: #565564;
}
.header-info-signup:hover{
    background-color: #565564;
}




.hire-section{
    position: relative;
    padding-top: 80px;
    background-color: #f8f7f4;
    text-align: center;
}
.hire-home{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.hire-home{
    

    .home-heading{
        margin: 40px auto 24px;
        max-width: 860px;
        font-family: "Source Serif 4", Georgia, serif;
        font-size: 72px;
        line-height: 76px;
        font-weight: 400;
        letter-spacing: -0.5px;
    }

    .home-discribe{
        font-size: 20px;
        line-height: 36px;
        font-weight: 500;
    } 
    .home-btn{
        width: min-content;
        height: 56px;
        padding: 0 24px;
        margin-top: 32px;
        line-height: 56px;
    }
    
}

.g-home-badge{
    box-sizing: border-box;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    width: fit-content;
    min-height: 40px;
    padding: 10px 16px;
    border-radius: 9999999px;
    background-color: #ffda79;
    color: #3d3d4e;
    font-family: "Source Serif 4", Georgia, serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
}
.home-color{
    animation: badge-color-cycle 32s linear infinite;
}
@keyframes badge-color-cycle{
    0% {
        background-color: #ffda79;
    }
    25% {
        background-color: #ffabe7;
    }
    50% {
        background-color: #d2bcf3;
    }
    75% {
        background-color: #edf3d8;
    }
    100% {
        background-color: #ffda79;
    }

}

.hire-hero{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding-bottom: 72px;
    overflow: hidden;
    background: #fff;
}
.hire-hero{

    .hero-wrapper{
        padding-top: 72px;
        width: fit-content;
        background-color: #f8f7f4;
        animation: marquee-desktop 30s linear infinite;
    }
    .hero-list{
        display: grid;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        width: fit-content;
        gap: 32px;
    }
    .hero-item{
        position: relative;
        width: 273px;
        height: 340px;
        color: #fff;
        border-radius: 32px;
        overflow: hidden;
    }
    .hero-bg-img{
        position: relative;
        z-index: 1;
        object-fit: cover;
        object-position: center center;
    }
    .hero-info{
        padding: 16px 20px;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        align-content: flex-end;
        gap: 8px;
        transform: perspective(300px) translate3d(0, 0, 8px);
        background: linear-gradient(180deg, transparent 51.91%, rgba(0,0,0,0.3) 75.88%);
        font-size: 13px;
        font-weight: 600;
        line-height: 1;
    }
    .hero-info-tagslist{
        display: grid;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        gap: 8px;
        margin-top: 4px;
    }
    .hero-info-tag{
        padding: 0 12px 2px;
        display: flex;
        align-items: center;
        height: 24px;
        border: 1px solid rgba(255,255,255,0.2);
        border-radius: 9999999px;
        font-size: 11px;
        white-space: nowrap;
    }
}

@keyframes marquee-desktop{
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(calc(-50% - 16px), 0, 0);
    }
}

.section-container{
    padding: 0 32px;
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
}
.intro-logoList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .intro-logo-txt{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

.intro-content{
    display: grid;
    padding: 150px 0;
    grid-auto-flow: column;
    gap: 90px;
    border-bottom: 1px solid #dbdbde;

    .intro-heading{
        max-width: 530px;
        font-size: 90px;
        line-height: 100px;
        font-weight: 300;
    }
    .intro-main{
        display: grid;
        grid-auto-rows: min-content;
        gap: 32px;
        padding-top: 26px;
        font-size: 20px;
        line-height: 36px;
    }
    .intro-main-btn{
        width: min-content;
        height: 56px;
        padding: 0 24px;
        line-height: 56px;
    }
}

.connect-part{
    max-width: 892px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}
.connect-title{
    margin-top: 32px;
}
.connect-heading{
    margin: 32px auto 24px;
    font-family: "Source Serif 4", Georgia, serif;
    font-size: 64px;
    line-height: 72px;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.connect-bottom{
    font-size: 20px;
    line-height: 36px;
}

.match-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
    margin-top: 24px;
    width: 100%;
}
.match-left{
    max-width: 543px;
    padding-right: 24px;

    .match-left-subheading{
        font-size: 48px;
        line-height: 56px;
        font-weight: 400;
    }
    .match-left-main{
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 32px;
        margin-top: 24px;
    }
    .match-left-actions{
        display: grid;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        gap: 16px;
    }
    .mla-find{
        height: 56px;
        padding:0 24px;
        line-height: 56px;
    }
    .mla-learn{
        height: 56px;
        padding:0 24px;
        line-height: 56px;
        border-color:#e7e7e9;
        background-color: #fff;
        color: #0d0c22;
    }
}
.match-right{
    position: relative;
    display: flex;
    max-width: 574px;
    margin-top: 0;
    margin: 34px auto 0;

    .match-right-img{
        width: 100%;
        height: auto;
    }
    .match-right-card{
        position: absolute;
        bottom: -140px;
        right: -12px;
        width: 252px;
        padding: 24px;
        display: grid;
        grid-auto-rows: min-content;
        gap: 24px;
        box-sizing: border-box;
        line-height: 1;
        background: #fff;
        border-radius: 32px;
        box-shadow: 8px 14px 30px rgba(0,0,0,0.05);
        will-change: transform;
        transform: translate(0%, -16.7769%) translate3d(0px, 0px, 0px);
    }
    .mrc-user{
        display: grid;
        align-items: center;
        gap: 16px;
        grid-template-columns: 56px 1fr;
    }
    .mrc-user-name{
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 500;
    }
    .mrc-user-title{
        display: flex;
        align-items: center;
        width: min-content;
        height: 20px;
        padding: 0 5px;
        font-size: 13px;
        background-color: #ddfde8;
        font-weight: 600;
        white-space: nowrap;
    }

    .mrc-skill-heading{
        margin-bottom: 8px;
        font-size: 13px;
        font-weight: 600;
    }
    .mrc-skill-list{
        display: flex;
        flex-wrap: wrap;
    }
    .mrc-skill-item{
        display: flex;
        align-items: center;
        height: 25px;
        margin: 0 8px 8px 0;
        padding: 0 12px;
        font-size: 11px;
        border: 1px solid #eeeef0;
        border-radius: 9999999px;
        font-weight: 600;
    }
    .mrc-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -7px;
    }
    .mrci-price{
        font-size: 16px;
        font-weight: 600;
    }
    .mrci-star{
        display: grid;
        grid-template-columns: repeat(5, 14px);
        gap: 3px;
    }
}

.better-section{
    margin-bottom: 150px;

    .better-heading{
        max-width: 581px;
        margin-right: auto;
        font-size: 48px;
        line-height: 56px;
        font-weight: 400;
    }
    .better-list{
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        gap: 40px;
        margin-top: 72px;
        width: 100%;
    }
    .better-subheading{
        margin-bottom: 17px;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
    }
    .better-copy{
        font-size: 16px;
        line-height: 28px;
    }
    .better-testimonial{
        display: grid;
        width: 100%;
        max-width: 980px;
        grid-template-columns: 1fr 270px;
        gap: 32px;
        margin-top: 178px;
        cursor: default;
    }
    .better-testimonial-left{
        padding: 32px;
        border: 1px solid #dbdbde;
        border-radius: 16px;
    }
    .btl-quote{
        font-size: 28px;
        line-height: 43px;
    }
    .btl-user{
        display: flex;
        align-items: center;
        margin-top: 32px;
    }
    .btlu-img{
        margin-right: 16px;
        border-radius: 50%;
    }
    .btlu-name{
        font-size: 20px;
        line-height: 27px;
        font-weight: 600;
    }
    .btlu-title{
        margin-left: 0.5ch;
        font-size: 20px;
        line-height: 27px;
        color: #6e6d7a;
    }

    .better-testimonial-right{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background: linear-gradient(57.89deg, #ff869d 21.85%, #fcd0ba 94.99%),#e54b4d;
        color: #fff;
    }
    .btr-img{
        transition: all 0.3s;
    }
}
.better-testimonial:hover .btr-img{
    transform: rotate(7deg) scale(1.1);
}

.why-section{
    margin: 150px auto;

    .why-heading{
        max-width: 890px;
        margin: 0 auto;
        font-family: "Source Serif 4", Georgia, serif;
        font-weight: 400;
        letter-spacing: -0.5px;
        font-size: 64px;
        line-height: 72px;
        text-align: center;
    }
    .why-content{
        display: grid;
        width: 100%;
        grid-auto-flow: column;
        grid-template-columns: 441px 1fr;
        gap: 40px;
        margin-top: 88px;
        justify-items: end;
    }
    .why-left{
        display: grid;
        gap: 48px;
        width: 100%;
        max-width: 441px;
    }
    .why-left-item{
        display: grid;
        grid-auto-rows: min-content;
        gap: 17px;
    }
    .iconfont{
        display: block;
        width: 32px;
        height: 32px;
        font-size: 34px;
        font-weight: 550;
        color: #0d0c22;
    }
    .wli-subheading{
        display: flex;
        align-items: center;
        width: min-content;
        height: 31px;
        margin: 0;
        padding: 0 3px;
        background-color: #e6fbfe;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        white-space: nowrap;
    }
    .why-right{
        width: 100%;
        max-width: 627px;
        margin-top: 41px;
    }
    .why-right-bg{
        width: 100%;
        height: auto;
        border-radius: 48px;
    }
    .work-section{
        margin: 150px auto;
    }
}

.work-title{
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
}
.work-list{
    --grid-gap: 24px;
    --item-width: 360px;
    --item-height: 270px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 48px;
    overflow: hidden;
    justify-items: center;
    gap: var(--grid-gap);
}
.work-list-row{
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    width: fit-content;
    gap: var(--grid-gap);
}
.work-item{
    width: var(--item-width);
    height: var(--item-height);
    overflow: hidden;
    background-color: #f3f3f4;
    border-radius: 8px;
}
.work-item-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.call-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 150px auto;
    gap: 40px;
}
.call-out{
    display: flex;
    flex-direction: column;
    padding: 56px;
    border-radius: 48px;
    background-color: #f8f7f4;
}
.call-out{

    .call-title{
        background-color:  #b3fbe3;
    }
    .call-heading{
        font-size: 48px;
        line-height: 56px;
        font-weight: 400;
        margin-top: 32px;
    }
    .call-copy{
        font-size: 20px;
        line-height: 36px;
        margin-top: 24px;
    }
    .call-action{
        display: grid;
        margin-top: 32px;
        gap: 16px;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
    }
    .call-btn{
        height: 56px;
        padding:0 24px;
        line-height: 56px;
    }
    .call-white-btn{
        height: 56px;
        padding: 0 24px;
        line-height: 56px;
        border-color: #e7e7e9;
        background-color: #fff;
        color: #0d0c22;
    }
    .call-white-btn:hover{
        border-color: #565564;
    }
}

.start-section{
    padding: 120px 0;
    background-color: #ffda79;
    text-align: center;
}
.start-wrapper{
    display: grid;
    gap: 24px;

    .start-heading{
        font-family: "Source Serif 4", Georgia, serif;
        font-size: 64px;
        font-weight: 500;
        letter-spacing: -0.5px;
        line-height: 72px;
    }
    .start-copy{
        font-size: 20px;
        line-height: 36px;
    }
    .start-action{
        display: grid;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        justify-content: center;
        padding: 16px 0 24px;
        gap: 16px;
    }
    .start-btn{
        display: block;
        height: 56px;
        padding:0 24px;
        line-height: 56px;
    }
    .start-white-btn{
        display: block;
        height: 56px;
        padding: 0 24px;
        line-height: 56px;
        border-color: #e7e7e9;
        background-color: #fff;
        color: #0d0c22;
    }
    .start-white-btn:hover{
        color: #6e6d7a;
    }
    .start-copy-a{
        color: inherit;
        text-decoration: underline;
        white-space: nowrap;
    }
}

.page-footer{
    position: relative;
    z-index: 1;
    background-color: #fff;
    color: #0d0c22;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-career-marquee{
    position: relative;
    z-index: 2;
    padding-top: 60px;
    margin: 0 auto;
    padding-inline: 0;
    overflow: hidden;
    overflow-x: hidden;
}
.career-list-wrapper{
    width: fit-content;
    animation: footer-marquee-desktop 32s linear infinite;
}
.career-list{
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    width: fit-content;
    gap: 32px;
}
.career-item{
    --item-media-width: 200px;
    --item-media-height: 150px;
    position: relative;
    color: inherit;
    text-decoration: none;
}
.career-item-stack{
    position: absolute;
    top: 0;
    right: 0;
    width: var(--item-media-width);
    height: var(--item-media-height);
}
.career-item-stack::before{
    --stack-translate-delay: 0s;
    --stack-bg: var(--stack-color-2);
    --stack-offset-y: -10px;
    --stack-offset-x: -10px;
    width: 96%;
    height: 96%;
    border-radius: 12px;
    opacity: 0.4;
    content: '';
    position: absolute;
    z-index: 0;
    top: var(--stack-offset-y);
    right: var(--stack-offset-x);
    overflow: hidden;
    border: 2px solid #fff;
    background: var(--stack-bg, #dbdbde);
}
.career-item-stack::after{
    content: '';
    position: absolute;
    z-index: 0;
    top: var(--stack-offset-y);
    right: var(--stack-offset-x);
    overflow: hidden;
    border: 2px solid #fff;
    background: var(--stack-bg, #dbdbde);
}
.career-item-media{
    position: relative;
    z-index: 1;
    width: var(--item-media-width);
    height: var(--item-media-height);
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #9e9ea7;
}
.career-item-media img{
    width: var(--item-media-width);
    height: var(--item-media-height);
    object-fit: cover;
    object-position: center center;
}
.career-item-title{
    margin-top: 12px;
    color: #0d0c22;
    font-size: 14px;
    font-weight: 500;
}

@keyframes footer-marquee-desktop{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(calc(-50%), 0, 0);
    }
}

.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
    box-sizing: content-box;
}
.footer-up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 72px 0 44px;
    row-gap: 0;
}
.footer-up{

    .footer-up-logo{
        width: 104px;
        height: 30px;
    }
    .footer-up-links{
        display: flex;
        justify-content: center;
        line-height: 20px;
        list-style: none;
        row-gap: 12px;
        flex-wrap: nowrap;
        column-gap: clamp(16px, 3.4vw, 48px);
    }
    .footer-up-item{
        font-size: 14px;
        font-weight: 600;
        color: inherit;
        text-decoration: none;
    }
    .footer-up-socialLinks{
        display: grid;
        grid-auto-flow: column;
        gap: 16px;

        .iconfont{
            font-size: 18px;
        }
    }
}
.footer-low{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6e6d7a;
    font-size: 14px;
    line-height: 20px;
    flex-direction: row;
    padding: 44px 0;
    row-gap: 0;

    .footer-low-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        column-gap: 16px;
        list-style: none;
        row-gap: 4px;
    }
}
